body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
 display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    margin: 3rem 1rem 1rem;
}

.holder{
     text-align: center;
    width: auto;
    justify-items: center;
    align-items: center;
    padding: 1rem 0;

}
.headline{
     font: 800 2.5rem "Roboto Slab", serif;
    text-decoration: underline overline rgb(253, 148, 192);

}

.zip
.feel
.entry{
     background: rgba(238, 234, 234, 0.7);

}


#entryHolder{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(48px, 1fr);
    padding: 0.5rem 0;
    margin: 1rem 1rem 0;
    justify-content: center;
    align-content: center;

}

#date{
    grid-area: 2 / 1 / span 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;

}

#temp{
    grid-area: 3 / 2 / span 2 / span 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   

}

#content{
    grid-area: 8 / 1 / span 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title{
     font: 800 1.5rem "Roboto Slab", serif;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(70, 68, 68);

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 